[submodule "test-subrepo-1"]
	path = test-subrepo-1
	url = git@github.com:kyudeok-MRX/test-subrepo-1.git
	branch = main

[submodule "test-subrepo-2"]
	path = test-subrepo-2
	url = git@github.com:kyudeok-MRX/test-subrepo-2.git
	branch = main
